{
  "repositoryUrl": "https://github.com/ZigvyCorp/scratch-l10n",
  "branches": ["master"],
  "plugins": ["@semantic-release/commit-analyzer", "@semantic-release/release-notes-generator", "@semantic-release/github"]
}